// app global css in SCSS form
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

@layer utilities {
  .hover-scale {
    @apply hover:scale-105 duration-300;
  }
}
